.loadingcursor{
    cursor:wait;
}

.formTitle{
    font-size: 1.3em;
    font-weight: 800;
}

.player {
    border-bottom: 1px solid #ddd;
}

.player.gold-player {
    color: #fff;
    background-color: rgb(0,150,136);
    margin-top: 10px;
}

.player.gold-player .name{
    font-weight: bold;
    font-size: 1.1em;
}

.player .md-button .rating{
    opacity:0.5;
}


.player.gold-player i{
    color:gold;
    font-size:1.2em;
}

.player.gold-player .md-button{
    padding: 15px 6px;
}

.player.silver-player i{
    color:silver;
}

.player.bronze-player i{
    color:#CD7F32;
}

.player .avatar img{
    max-height:24px;
    top: 6px;
    position: relative;
    border-radius: 1em;
}

.game {
    padding: 25px 15px;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
}

.game span {
    line-height: 1.2em;
}

.game span.score {
    font-size: 1.3em;
    font-weight: bolder;
}

.game span.vs {
    font-size: 1em;
    bottom: 0;
    position: relative;
}

.game .player-name {
    font-size: 1.2em;
}

.game .winner{
    color:rgb(0,150,136);
}

.game .player-name.left, .game .cotes .left {
    text-align: right;
}

.game .player-name.right, .game .cotes .right {
    text-align: left;
}

.game .cotes{
    font-size:0.9em;
    font-weight:300;
}

.game .cotes .winner-gamble{
    color:rgb(0,150,136);
    font-weight:500;
}

.game .date{
    font-size:0.7em;
    text-align:center;
    cursor:pointer;
}