.loadingcursor{
    cursor:wait;
}

.player {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.player.best-player {
    font-weight: bold;
    font-size: 1.1em;
    color: gold;
    background-color: green;
    margin-top: 10px;
}

.game {
    padding: 25px 15px;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
}

.game span {
    line-height: 1.2em;
}

.game span.score {
    font-size: 1.3em;
    font-weight: bolder;
}

.game span.vs {
    font-size: 1em;
    bottom: 0;
    position: relative;
}

.game .player-name {
    font-size: 1.2em;
}

.game .winner{
    color:green;
}

.game .player-name.left, .game .cotes .left {
    text-align: right;
}

.game .player-name.right, .game .cotes .right {
    text-align: left;
}

.game .cotes{
    font-size:0.9em;
    font-weight:300;
}

.game .cotes .winner-gamble{
    color:green;
    font-weight:500;
}

.game .date{
    font-size:0.7em;
    text-align:center;
    cursor:pointer;
}