<div layout="row" flex>
        <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$media('gt-sm')">
		<md-toolbar layout="row">
	  	<div class="md-toolbar-tools">
	        <h3>
	          <span>Joueurs</span>
	        </h3>
	      </div>
		</md-toolbar>
		<md-content>
					<div class="player" ng-class="{'best-player':$first}" ng-repeat="player in appContent.players | orderBy:'-rating'">
						<i ng-if="$first" class="fa fa-trophy"></i> {{player.name}} ({{player.rating}})
					</div>
				</ul>
		</md-content>
        </md-sidenav>
        <div layout="row" flex id="content">
            <md-content flex class="md-padding">
				<div ng-if="true || appContent.show === 'add'" >
					<form name="newGameForm" layout="column" ng-submit="appContent.save()">
						<div layout="row">
							<div class="playerA" layout="column" flex>
								<h4>{{(appContent.newGame.playerAName) ? appContent.newGame.playerAName : 'Joueur A'}}</h4>
								<md-input-container>
									<label>Nom du joueur A</label>
									<input ng-model="appContent.newGame.playerAName" type="text" required />
								</md-input-container>
								<md-input-container>
									<label>Score joueur A</label>
									<input ng-model="appContent.newGame.scoreA" type="number" required />
								</md-input-container>
							</div>
							<div class="playerB" layout="column" flex>
								<h4>{{(appContent.newGame.playerBName) ? appContent.newGame.playerBName : 'Joueur B'}}</h4>
								<md-input-container>
									<label>Nom du joueur B</label>
									<input ng-model="appContent.newGame.playerBName" type="text" required />
								</md-input-container>
								<md-input-container>
									<label>Score joueur B</label>
									<input ng-model="appContent.newGame.scoreB" type="number" required />
								</md-input-container>
							</div>
						</div>
						<md-button class="md-raised md-primary" flex>Ajouter ce résultat</mdbutton>
					</form>
				</div>
              	<div ng-if="true || appContent.show === 'list'">
					<md-content>
						<div class="game" ng-repeat="game in appContent.games | orderBy:'date':true" layout="row">	
							<span class="player-name left" flex>{{game.playerAName}}&nbsp;:&nbsp;</span><span class="score">{{game.scoreA}}</span>
							<span class="vs">&nbsp;.&nbsp;</span>
							<span class="score">{{game.scoreB}}</span><span class="player-name right" flex>&nbsp;:&nbsp;{{game.playerBName}}</span>
							<pre ng-show="false">
								{{game | json}}
							</pre>
						</div>
					</md-content>
              	</div>
				<md-button type="button" class="md-warn md-raised" ng-click="appContent.resetAll()" flex>SUPPRIMER TOUTES LES DONNEES</md-button>
            </md-content>
        </div>
	</div>