<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$media('gt-sm')">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Classement</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content>
            <div class="player" ng-class="{'gold-player':$first, 'silver-player':$index===1, 'bronze-player':$index===2}" layout="row"
                 ng-repeat="player in appContent.players | orderBy:'-rating'" >
                <md-button layout="row" flex>
                    <span class="rating">{{player.rating | number:2}}</span>
                    <span class="name" flex><i ng-if="$index <= 2" class="fa fa-trophy"></i> {{player.name}}</span>
                    <span class="avatar" ng-if="player.avatar"><img ng-src="{{player.avatar}}" /></span>
                    <md-tooltip>
                        {{player.gamesCount}} games played
                    </md-tooltip>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>
    <import-generated-data></import-generated-data>
    <div layout="row" flex id="content">
        <md-content flex class="md-padding">
            <div layout="row" ng-show="debug">
                <input ng-model="mockAmount" type="number" flex/>
                <md-button class="md-accent md-raised" ng-class="{loadingcursor:generating}" ng-disabled="generating" ng-click="appContent.mockGames(mockAmount)" flex>+{{mockAmount}}?</md-button>
                <md-button type="button" class="md-warn" ng-click="appContent.resetAll()" flex>Effacer
                </md-button>
            </div>
            <div ng-if="true || appContent.show === 'add'">
                <form name="newGameForm" layout="column" ng-submit="appContent.save()">
                    <div layout="row">
                        <div class="playerA" layout="column" flex>
                            <div class="formTitle">{{(appContent.newGame.playerAName) ? appContent.newGame.playerAName : 'Participant A'}}</div>
                            <md-input-container>
                                <label>Nom du participant A</label>
                                <input ng-model="appContent.newGame.playerAName" type="text" required/>
                            </md-input-container>
                            <md-input-container>
                                <label>Score participant A</label>
                                <input ng-model="appContent.newGame.scoreA" type="number" required/>
                            </md-input-container>
                        </div>
                        <div class="playerB" layout="column" flex>
                            <div class="formTitle">{{(appContent.newGame.playerBName) ? appContent.newGame.playerBName : 'Participant B'}}</div>
                            <md-input-container>
                                <label>Nom du participant B</label>
                                <input ng-model="appContent.newGame.playerBName" type="text" required/>
                            </md-input-container>
                            <md-input-container>
                                <label>Score participant B</label>
                                <input ng-model="appContent.newGame.scoreB" type="number" required/>
                            </md-input-container>
                        </div>
                    </div>
                    <md-button class="md-raised md-primary" flex>Ajouter ce résultat</md-button>
                </form>
            </div>
            <div ng-if="true || appContent.show === 'list'">
                <md-content>
                    <div class="game" ng-repeat="game in appContent.games | orderBy:'id':true | limitTo : gamesShown : 0"
                         layout="column">
                        <div layout="row">
                            <span class="player-name left" ng-class="{'winner':game.playerAVictory}" flex>
                                {{game.playerAName}}<md-tooltip>{{(game.playerARatingAfterGame - game.playerARatingBeforeGame) | number:0}}</md-tooltip></md-tooltip>&nbsp;:&nbsp;</span>
                            <span
                                class="score" ng-class="{'winner':game.playerAVictory}">{{game.scoreA}}</span>
                            <span class="vs">&nbsp;.&nbsp;</span>
                            <span class="score" ng-class="{'winner':!game.playerAVictory}">{{game.scoreB}}</span>
                            <span class="player-name right" ng-class="{'winner':!game.playerAVictory}" flex>&nbsp;:&nbsp;
                                {{game.playerBName}}<md-tooltip>{{(game.playerBRatingAfterGame - game.playerBRatingBeforeGame) | number:0}}</md-tooltip></md-tooltip></span>
                        </div>
                        <div class="cotes" layout="row">
                            <span class="left" ng-class="{'winner-gamble':game.playerAExpectedVictory}" flex>{{game.playerAQuotation | number:2}}</span>
                            <span class="vs">&nbsp;.&nbsp;</span>
                            <span class="right" ng-class="{'winner-gamble':!game.playerAExpectedVictory}" flex>{{game.playerBQuotation | number:2}}</span>
                        </div>
                        <div class="date" ng-click="game.showdetails = game.showdetails?false:true" flex>
                            <span class="date">{{game.date | date : "longDate"}}</span>
                        </div>
						<pre ng-show="game.showdetails">
								{{game | json}}
						</pre>
                    </div>
                    <div layout="row"><md-button class="md-accent" flex ng-click="showMore()">Montrer plus</md-button></div>
                </md-content>
            </div>
        </md-content>
    </div>
</div>