<div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <h3>
                    <span>Classement</span>
                </h3>
            </div>
        </md-toolbar>
        <md-content flex>
            <div class="player"
                 ng-class="{'gold-player':$first, 'silver-player':$index===1, 'bronze-player':$index===2}" layout="row"
                 ng-repeat="player in appContent.players | filter :{name: '!/'} | orderBy:'-rating'">
                <md-button layout="row" flex>
                    <span class="rating">{{player.rating | number:2}}</span>
                    <span class="name" flex><i ng-if="$index <= 2" class="fa fa-trophy"></i> {{player.name}}</span>
                    <span class="avatar" ng-if="player.avatar"><img ng-src="{{player.avatar}}"/></span>
                    <md-tooltip>
                        {{player.gamesCount}} games played
                    </md-tooltip>
                </md-button>
            </div>
        </md-content>
        <md-content flex>
            <div class="player"
                 ng-class="{'gold-player':$first, 'silver-player':$index===1, 'bronze-player':$index===2}" layout="row"
                 ng-repeat="player in appContent.players | filter :{name: '/'} |  orderBy:'-rating'">
                <md-button layout="row" flex>
                    <span class="rating">{{player.rating | number:2}}</span>
                    <span class="name" flex><i ng-if="$index <= 2" class="fa fa-trophy"></i> {{player.name}}</span>
                    <span class="avatar" ng-if="player.avatar"><img ng-src="{{player.avatar}}"/></span>
                    <md-tooltip>
                        {{player.gamesCount}} games played
                    </md-tooltip>
                </md-button>
            </div>
        </md-content>
    </md-sidenav>
    <import-generated-data></import-generated-data>
    <div layout="row" flex id="content">
        <md-content flex class="md-padding">
            <div layout="column" ng-if="debug">
                <div>
                    <h3>Générer des rencontres</h3>
                </div>
                <div layout="row">
                    <input ng-model="mockAmount" type="number" flex/>
                    <md-button class="md-accent md-raised" ng-class="{loadingcursor:generating}"
                               ng-disabled="generating" ng-click="appContent.mockGames(mockAmount)" flex>Générer
                    </md-button>
                    <md-button type="button" class="md-warn" ng-click="appContent.resetAll()" flex>Effacer tout
                    </md-button>
                </div>
                <div>&nbsp;</div>
            </div>

            <div class="newGameEditor" ng-if="!appContent.addingGame">

                <form name="newGameForm" layout="column" ng-submit="appContent.save()">
                    <md-button ng-show="appContent.playerSearched.length >= 4"
                               ng-click="appContent.createPlayer(appContent.playerSearched)">
                        Créer le joueur "{{appContent.playerSearched}}"
                    </md-button>
                    <div layout="row">
                        <div class="playerA" layout="column" flex>
                            <div class="formTitle">{{(appContent.newGame.playerAName) ? appContent.newGame.playerAName :
                                'Equipe A'}}
                            </div>

                            <md-contact-chips
                                    ng-model="appContent.newGame.playersA"
                                    md-contacts="appContent.searchPlayer($query)"
                                    md-contact-name="name"
                                    md-contact-image="avatar"
                                    md-contact-email="points"
                                    md-require-match
                                    filter-selected="false"
                                    placeholder="Joueurs équipe A">
                            </md-contact-chips>

                            <md-input-container>
                                <label>Score équipe A</label>
                                <input ng-model="appContent.newGame.scoreA" type="number" required/>
                            </md-input-container>
                        </div>
                        <div class="playerB" layout="column" flex>
                            <div class="formTitle">{{(appContent.newGame.playerBName) ? appContent.newGame.playerBName :
                                'Équipe B'}}
                            </div>
                            <md-contact-chips
                                    ng-model="appContent.newGame.playersB"
                                    md-contacts="appContent.searchPlayer($query)"
                                    md-contact-name="name"
                                    md-contact-image="avatar"
                                    md-contact-email="points"
                                    md-require-match
                                    filter-selected="false"
                                    placeholder="Joueurs équipe B">
                            </md-contact-chips>
                            <md-input-container>
                                <label>Score équipe B</label>
                                <input ng-model="appContent.newGame.scoreB" type="number" required/>
                            </md-input-container>
                        </div>
                    </div>
                    <md-input-container flex>
                        <label>Date de la rencontre (optionnel)</label>
                        <input type="date" ng-model="appContent.newGame.date"/>
                    </md-input-container>
                    <md-button class="md-raised md-primary" flex>Ajouter ce résultat</md-button>
                </form>
            </div>


            <div ng-if="true" class="list_of_games">
                <md-content>
                    <div class="game"
                         ng-repeat="game in appContent.games | orderBy:'createdAt':true | limitTo : gamesShown : 0"
                         layout="column">
                        <div layout="row">
                            <span class="player-name left" ng-class="{'winner':game.teamAVictory}" flex>
                                {{appContent.teamFromId(game.teamAId).name}}
                                <md-tooltip>
                                    <span ng-repeat="player in appContent.playersOfTeam(game.teamAId, appContent.teamFromId(game.teamAId).playersIds)">
                                        {{player.name}},
                                    </span> - Gains de l'équipe : {{(game.teamARatingAfterGame -
                                    game.teamARatingBeforeGame) | number:0}}
                                </md-tooltip>&nbsp;:&nbsp;</span>
                            <span
                                    class="score" ng-class="{'winner':game.teamAVictory}">{{game.scoreA}}</span>
                            <span class="vs">&nbsp;.&nbsp;</span>
                            <span class="score" ng-class="{'winner':!game.teamAVictory}">{{game.scoreB}}</span>
                            <span class="player-name right" ng-class="{'winner':!game.teamAVictory}" flex>&nbsp;:&nbsp;
                                {{appContent.teamFromId(game.teamBId).name}}
                                <md-tooltip>
                                    <span ng-repeat="player in appContent.playersOfTeam(game.teamBId, appContent.teamFromId(game.teamBId).playersIds)">
                                        {{player.name}},
                                    </span> - Gains de l'équipe : {{(game.teamBRatingAfterGame -
                                        game.teamBRatingBeforeGame) | number:0}}
                                </md-tooltip>
                            </span>
                        </div>
                        <div class="cotes" layout="row">
                            <span class="left" ng-class="{'winner-gamble':game.teamAExpectedVictory}" flex>{{game.teamAQuotation | number:2}}</span>
                            <span class="vs">&nbsp;.&nbsp;</span>
                            <span class="right" ng-class="{'winner-gamble':!game.teamAExpectedVictory}" flex>{{game.teamBQuotation | number:2}}</span>
                        </div>
                        <div class="date" ng-click="game.showdetails = game.showdetails?false:true" flex>
                            <span class="date">{{game.date | date : "longDate"}}</span>
                        </div>
						<pre ng-show="game.showdetails">
								{{game | json}}
						</pre>
                    </div>
                    <div layout="row">
                        <md-button class="md-accent" flex ng-click="showMore()">Montrer plus</md-button>
                    </div>
                </md-content>
            </div>
        </md-content>
    </div>
</div>